<div class="equipment-item-container shadow-1 p-3 border-round-2xl">
    <div class="weapon-name-container flex align-items-center relative">
        <img class="w-2rem" [src]="equipment.icon">
        <div class="ml-3 font-medium">{{ equipment.name | translate }}</div>
    </div>

    <div class="equipment-actions-container flex -m-2 mt-2">
        <button mat-raised-button
            class="flex-grow-1 m-2 background-orange"
            (click)="openCardDetail()">
            {{ 'actions.show.equipment' | translate }}
        </button>
    </div>
</div>