<div class="weapon-item-container shadow-1 p-3 border-round-2xl relative">
    <div class="weapon-name-container flex align-items-center relative">
        <img class="w-2rem" [src]="equipment.icon">
        <div class="ml-3 font-medium">{{ equipment.name | translate }}</div>

        <mat-icon *ngIf="isEquipped()"
            color="accent"
            class="absolute border-black top-0 left-0 ml-3 -mt-2">
            e_mobiledata
        </mat-icon>
    </div>

    <div class="weapon-actions-container flex -m-2 mt-2">
        @if (isForged()) {
            <button mat-raised-button
                class="flex-grow-1 m-2 background-orange"
                (click)="openCardDetail()">
                {{ 'actions.show' | translate }}
            </button>

            @if (isEquipped()) {
                <div class="button-sized-text flex-grow-1 border-black-medium text-yellow-500 m-2 py-2">
                    {{ 'campaign.equipment.equipped' | translate }}
                </div>
            } @else {
                <button mat-raised-button
                    color="accent"
                    class="flex-grow-1 m-2"
                    (click)="equipEquipment()">
                    {{ 'actions.equip' | translate }}
                </button>
            }
        } @else {
            @if (canBeForged()) {
                <button mat-raised-button
                    color="primary"
                    class="flex-grow-1 m-2"
                    (click)="openForgeEquipment()">
                    {{ 'actions.forge' | translate }}
                </button>
            } @else {
                <div class="button-sized-text flex-grow-1 text-purple-500 m-2 py-2">
                    {{ 'campaign.equipment.cannotForge' | translate:{ weapon: (equipment.previousEquipment?.name| translate) } }}
                </div>
            }
        }
    </div>

    <mat-icon *ngIf="isForged()"
        color="primary"
        class="forged-icon absolute top-0 right-0 p-2">
        construction
    </mat-icon>
</div>