<header class="header-user flex flex-column justify-content-end px-3" *ngIf="authUser">
    <!--<img class="mb-2 avatar" [alt]="authUser.name"
        [src]="authUser.avatar" [srcset]="authUser.avatar">-->

    <h2>{{ authUser.name }}</h2>

    <span>{{ authUser.email }}</span>
</header>

<div class="sidenav-menu flex flex-column">
    <mat-list>
        @for (link of sidenavLinks; track link) {
            <a mat-list-item [disabled]="link.disabled" 
                [routerLink]="link.disabled ? '' : link.route"
                (click)="closeSideNav()">
                <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
                <div matListItemTitle>{{ link.title | translate }}</div>
            </a>
        }
    </mat-list>
</div>