<header class="header-user flex flex-column justify-content-end px-3" *ngIf="authUser">
    <img class="mb-2 avatar" [alt]="authUser.name"
        src="/assets/img/no_avatar.webp" srcset="/assets/img/no_avatar.webp">

    <h2>{{ authUser.name }}</h2>

    <span>{{ authUser.email }}</span>
</header>

<div class="sidenav-menu flex flex-column">
    <mat-list>
        @for (link of sidenavLinks; track link) {
            <a mat-list-item
                [routerLink]="link.route"
                (click)="closeSideNav()">
                <mat-icon matListItemIcon fontSet="material-symbols-outlined">{{ link.icon }}</mat-icon>
                <div matListItemTitle>{{ link.title | translate }}</div>
            </a>
        }
    </mat-list>
</div>