<mat-toolbar color="primary" class="mat-elevation-z1">
    <mat-toolbar-row>
        <span class="toolbar-separator flex-auto ml-5"></span>

        <div class="dialog-toolbar-title">{{ title | translate }}</div>

        <span class="toolbar-separator flex-auto"></span>

        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<div mat-dialog-content class="campaign-edit-dialog-content pb-2 p-3">
    <img class="w-12 border-round-2xl" 
        [src]="cardToShow"/>

    @if (materialsList) {
        @for (materialCraft of materialsList; track $index) {
            <div class="material-item-container flex flex-row py-2 pr-2 align-items-center">
                <img class="w-1-5rem mr-1 img-icon-boder-black" [src]="materialCraft.material.icon">

                <div class="material-name-container flex-grow-1 mr-2">
                    {{ materialCraft.material.name }}
                </div>

                <div class="material-quantity-container">
                    x{{ materialCraft.amount }}
                </div>
            </div>
        }
    }
</div>