<div class="campaign-container flex flex-column align-items-center">
    <h1 class="font-bold">{{ campaignDetail.name }}</h1>

    <mat-tab-group class="w-12" animationDuration="0ms">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="mr-2" fontSet="material-symbols-outlined">pet_supplies</mat-icon>
                <span class="hidden sm:inline">{{ 'app.menu.materials' | translate }}</span>
            </ng-template>

            <div class="materials-container grid w-12 pt-2 m-0 align-content-start">
                @for (materialLocal of materialLocalList; track $index) {
                    <campaign-material-card class="col-6 md:col-4 lg:col-3 xl:col-2 xxl:col-1"
                        [materialLocal]="materialLocal"
                        [campaignMaterial]="campaignMaterialsDetail"
                        [index]="$index" />
                }
            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="mr-2" fontSet="material-symbols-outlined">pets</mat-icon>
                <span class="hidden sm:inline">{{ 'app.menu.quests' | translate }}</span>
            </ng-template>

            <div class="quests-container grid w-12 pt-2 m-0 align-content-start">
                @for (questLocal of questLocalList; track $index) {
                    <campaign-quest-card class="col-6 md:col-4 lg:col-3 xl:col-2 xxl:col-1"
                        [questLocal]="questLocal"
                        [campaignQuest]="campaignQuestsDetail.quests![$index]" />
                }
            </div>
        </mat-tab>

        @for (campaignHunter of campaignHunterList; track $index) {
            <mat-tab>
                <ng-template mat-tab-label>
                    <img class="w-1-5 mr-2"
                        [src]="commonMethods.generateWeaponIcon(campaignHunter.weaponType)" />
                    <span class="hidden sm:inline">{{ campaignHunter.name }}</span>
                </ng-template>

                <div class="equipment-container grid w-12 py-2 m-0 justify-content-center">
                    <base-equipment
                        class="col-6 md:col-4 lg:col-3 xl:col-2 xxl:col-1"
                        [equipment]="getWeaponFromCampaignHunter(campaignHunter)" />

                    @for (armourType of armourTypeKeys | keyvalue:commonMethods.unsorted; track $index) {
                        <base-equipment
                            class="col-6 md:col-4 lg:col-3 xl:col-2 xxl:col-1"
                            [equipment]="getArmourFromCampaignHunter(campaignHunter, armourType.value)" />
                    }
                </div>
                
                <mat-tab-group class="w-12" animationDuration="0ms">
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <img class="w-1-5 mr-2"
                                [src]="commonMethods.generateWeaponIcon(campaignHunter.weaponType)" />
                            <span class="hidden sm:inline">{{ `weaponNames.${campaignHunter.weaponType}` | translate }}</span>
                        </ng-template>

                        <div class="weapons-container grid w-12 pt-2 m-0 align-content-start">
                            @for (weapon of weaponsLocalMap.get(campaignHunter.weaponType); track $index) {
                                <equipment-card *ngIf="weapon"
                                    class="col-6 md:col-4 lg:col-3 xl:col-2 xxl:col-1"
                                    [equipment]="weapon"
                                    [hunterEquipmentEquipped]="campaignHunter.weaponEquipped"
                                    [hunterEquipmentList]="campaignHunter.weapons!"
                                    [materialsList]="campaignMaterialsDetail.materials"
                                    (changeEquipped)="changeEquipped($event, campaignHunter, baseCampaignHunterKeys.weaponEquipped)"
                                    (equipmentForged)="equipmentForged($event, campaignHunter, baseCampaignHunterKeys.weapons)" />
                            }
                        </div>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <img class="w-1-5 mr-2"
                                [src]="commonMethods.generateArmourIcon(armourTypeKeys.helm)" />
                            <span class="hidden sm:inline">{{ `armour.${armourTypeKeys.helm}.name` | translate }}</span>
                        </ng-template>

                        <div class="armour-head-container grid w-12 pt-2 m-0 align-content-start">
                            @for (armourHelm of armoursLocalMap.get(armourTypeKeys.helm); track $index) {
                                <equipment-card *ngIf="armourHelm && showArmour(armourHelm, campaignHunter)"
                                    class="col-6 md:col-4 lg:col-3 xl:col-2 xxl:col-1"
                                    [equipment]="armourHelm"
                                    [hunterEquipmentEquipped]="campaignHunter.armourHelmEquipped"
                                    [hunterEquipmentList]="campaignHunter.armoursHelm!"
                                    [materialsList]="campaignMaterialsDetail.materials"
                                    (changeEquipped)="changeEquipped($event, campaignHunter, baseCampaignHunterKeys.armourHelmEquipped)"
                                    (equipmentForged)="equipmentForged($event, campaignHunter, baseCampaignHunterKeys.armoursHelm)" />
                            }
                        </div>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <img class="w-1-5 mr-2"
                                [src]="commonMethods.generateArmourIcon(armourTypeKeys.chest)" />
                            <span class="hidden sm:inline">{{ `armour.${armourTypeKeys.chest}.name` | translate }}</span>
                        </ng-template>

                        <div class="armour-chest-container grid w-12 pt-2 m-0 align-content-start">
                            @for (armourChest of armoursLocalMap.get(armourTypeKeys.chest); track $index) {
                                <equipment-card *ngIf="armourChest && showArmour(armourChest, campaignHunter)"
                                    class="col-6 md:col-4 lg:col-3 xl:col-2 xxl:col-1"
                                    [equipment]="armourChest"
                                    [hunterEquipmentEquipped]="campaignHunter.armourChestEquipped"
                                    [hunterEquipmentList]="campaignHunter.armoursChest!"
                                    [materialsList]="campaignMaterialsDetail.materials"
                                    (changeEquipped)="changeEquipped($event, campaignHunter, baseCampaignHunterKeys.armourChestEquipped)"
                                    (equipmentForged)="equipmentForged($event, campaignHunter, baseCampaignHunterKeys.armoursChest)" />
                            }
                        </div>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <img class="w-1-5 mr-2"
                                [src]="commonMethods.generateArmourIcon(armourTypeKeys.leg)" />
                            <span class="hidden sm:inline">{{ `armour.${armourTypeKeys.leg}.name` | translate }}</span>
                        </ng-template>

                        <div class="armour-leg-container grid w-12 pt-2 m-0 align-content-start">
                            @for (armourLeg of armoursLocalMap.get(armourTypeKeys.leg); track $index) {
                                <equipment-card *ngIf="armourLeg && showArmour(armourLeg, campaignHunter)"
                                    class="col-6 md:col-4 lg:col-3 xl:col-2 xxl:col-1"
                                    [equipment]="armourLeg"
                                    [hunterEquipmentEquipped]="campaignHunter.armourLegEquipped"
                                    [hunterEquipmentList]="campaignHunter.armoursLeg!"
                                    [materialsList]="campaignMaterialsDetail.materials"
                                    (changeEquipped)="changeEquipped($event, campaignHunter, baseCampaignHunterKeys.armourLegEquipped)"
                                    (equipmentForged)="equipmentForged($event, campaignHunter, baseCampaignHunterKeys.armoursLeg)" />
                            }
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-tab>
        }
    </mat-tab-group>

    <div class="rigth-actions-button flex flex-column align-items-center z-2">
        @if (campaignHunterList.length < MAX_HUNTERS_PER_CAMPAIGN) {
            <button mat-mini-fab
                class="medium-button"
                (click)="openNewCampaignHunter()">
                <mat-icon>person_add</mat-icon>
            </button>
        }

        <button mat-mini-fab
            color="primary"
            class="big-button mt-3"
            (click)="saveCampaignData()">
            <mat-icon>save</mat-icon>
        </button>
    </div>
</div>