<div class="campaign-container flex flex-column align-items-center">
    <div class="flex flex-column md:flex-row align-items-center justify-content-evenly w-full mb-3">
        <h1 class="font-bold text-3xl md:text-5xl mb-3 md:mb-0 text-center line-height-1">{{ campaignDetail.name }}</h1>

        <div class="shadow-1 p-2-5 border-round-2xl">
            <div class="flex align-items-center mb-2">
                <mat-icon fontIcon="calendar_month"></mat-icon>
                <div class="ml-3 font-bold text-base">{{ 'campaign.fields.daysRemaining' | translate }}</div>
            </div>

            <div class="flex w-12 align-items-center">
                <button mat-icon-button color="warn"
                    (click)="changeCampaignDays(-1)">
                    <mat-icon>remove</mat-icon>
                </button>

                <div class="w-full text-center font-semibold text-4xl">
                    {{ campaignDetail.days }}
                </div>

                <button mat-icon-button color="primary"
                    (click)="changeCampaignDays(1)">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <mat-tab-group class="w-12" animationDuration="0ms">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="mr-2" fontSet="material-symbols-outlined">pet_supplies</mat-icon>
                <span class="hidden sm:inline">{{ 'app.menu.materials' | translate }}</span>
            </ng-template>

            <div class="materials-container grid w-12 pt-2 m-0 align-content-start">
                <material-filter class="w-12 px-2 pt-2"
                    #materialFilter
                    [materialList]="materialLocalList" />

                @for (materialLocal of materialFilter.materialFilteredList; track $index) {
                    <campaign-material-card class="col-6 md:col-4 lg:col-3 xl:col-2 xxl:col-1-5"
                        [materialLocal]="materialLocal"
                        [campaignMaterial]="campaignMaterialsDetail" />
                }
            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="mr-2" fontSet="material-symbols-outlined">pets</mat-icon>
                <span class="hidden sm:inline">{{ 'app.menu.quests' | translate }}</span>
            </ng-template>

            <div class="quests-container grid w-12 pt-2 m-0 align-content-start">
                @for (questLocal of questLocalList; track $index) {
                    <campaign-quest-card class="col-6 md:col-4 lg:col-3 xl:col-2 xxl:col-1-5"
                        [questLocal]="questLocal"
                        [campaignQuest]="campaignQuestsDetail.quests![$index]" />
                }
            </div>
        </mat-tab>

        @for (campaignHunter of campaignHunterList; track $index) {
            <mat-tab>
                <ng-template mat-tab-label>
                    <img class="w-1-5rem mr-2"
                        [src]="CommonMethods.generateWeaponIcon(campaignHunter.weaponType)" />
                    <span class="hidden sm:inline">{{ campaignHunter.name }}</span>
                </ng-template>

                <div class="campaignHunter-container grid w-12 py-2 m-0 justify-content-center align-items-center">
                    <h1 class="font-bold mb-0 ml-7">{{ campaignHunter.name }}</h1>

                    <button class="edit-campaignHunter-button white-border ml-4"
                        mat-icon-button color="primary"
                        (click)="openNewCampaignHunter(campaignHunter, $index)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>

                <div class="equipment-container grid w-12 py-2 m-0 justify-content-center">
                    <base-equipment
                        class="col-6 md:col-4 lg:col-3 xl:col-2 xxl:col-1-5"
                        [equipment]="getWeaponFromCampaignHunter(campaignHunter)" />

                    @for (armourType of armourTypeKeys | keyvalue:CommonMethods.unsorted; track $index) {
                        <base-equipment
                            class="col-6 md:col-4 lg:col-3 xl:col-2 xxl:col-1-5"
                            [equipment]="getArmourFromCampaignHunter(campaignHunter, armourType.value)" />
                    }
                </div>
                
                <mat-tab-group class="w-12" animationDuration="0ms">
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <img class="w-1-5rem mr-2"
                                [src]="CommonMethods.generateWeaponIcon(campaignHunter.weaponType)" />
                            <span class="hidden sm:inline">{{ `weaponNames.${campaignHunter.weaponType}` | translate }}</span>
                        </ng-template>

                        <div class="weapons-container grid w-12 pt-2 m-0 align-content-start">
                            @for (weapon of weaponsLocalMap.get(campaignHunter.weaponType); track $index) {
                                <equipment-card *ngIf="weapon"
                                    class="col-6 md:col-4 lg:col-3 xl:col-2 xxl:col-1-5"
                                    [equipment]="weapon"
                                    [hunterEquipmentEquipped]="campaignHunter.weaponEquipped"
                                    [hunterEquipmentList]="campaignHunter.weapons!"
                                    [materialsList]="campaignMaterialsDetail.materials"
                                    (changeEquipped)="changeEquipped($event, campaignHunter, baseCampaignHunterKeys.weaponEquipped)"
                                    (equipmentForged)="equipmentForged($event, campaignHunter, baseCampaignHunterKeys.weapons)" />
                            }
                        </div>
                    </mat-tab>

                    @for (armourType of armourTypeList; track $index) {
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <img class="w-1-5rem mr-2"
                                    [src]="CommonMethods.generateArmourIcon(armourType.key)" />
                                <span class="hidden sm:inline">{{ `armour.${armourType.key}.name` | translate }}</span>
                            </ng-template>

                            <div class="armour-chest-container grid w-12 pt-2 m-0 align-content-start">
                                @for (armourPiece of armoursLocalMap.get(armourType.key); track $index) {
                                    <equipment-card *ngIf="armourPiece && showArmour(armourPiece, campaignHunter)"
                                        class="col-6 md:col-4 lg:col-3 xl:col-2 xxl:col-1-5"
                                        [equipment]="armourPiece"
                                        [hunterEquipmentEquipped]="campaignHunter[armourType.equippedKey]"
                                        [hunterEquipmentList]="campaignHunter[armourType.listKey]"
                                        [materialsList]="campaignMaterialsDetail.materials"
                                        (changeEquipped)="changeEquipped($event, campaignHunter, armourType.equippedKey)"
                                        (equipmentForged)="equipmentForged($event, campaignHunter, armourType.listKey)" />
                                }
                            </div>
                        </mat-tab>
                    }
                </mat-tab-group>
            </mat-tab>
        }
    </mat-tab-group>

    <div class="rigth-actions-button flex flex-column align-items-center z-2">
        @if (campaignHunterList.length < MAX_HUNTERS_PER_CAMPAIGN) {
            <button mat-mini-fab
                class="medium-button"
                (click)="openNewCampaignHunter()">
                <mat-icon>person_add</mat-icon>
            </button>
        }

        <button mat-mini-fab
            color="primary"
            class="big-button mt-3"
            (click)="saveCampaignData()">
            <mat-icon>save</mat-icon>
        </button>
    </div>
</div>