<div class="body-login-container flex align-items-center justify-content-center"
    fxLayout="row" fxLayoutAlign="center center">
    <div class="login-container flex flex-column align-items-center p-4">
        <img class="logo-image mb-4" src="assets/img/logo.webp">

        <div class="provider-login-container" fxLayout="column" fxLayoutAlign=" center">
            <div class="google-login">
                <img src="assets/img/login/google.webp" (click)="loginWithProvider()">
            </div>
        </div>
    </div>
</div>