.w-1-5rem {
  width: 1.5rem !important;
}

.border-black {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.img-icon-boder-black {
  -webkit-filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 1)) drop-shadow(-1px -1px 0 rgba(0, 0, 0, 1));
  filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 1)) drop-shadow(-1px -1px 0 rgba(0, 0, 0, 1));
}

* {
  --p-red-500: red;
  --p-green-500: green;
}

.background-orange {
  background-color: #ffc253 !important;
}

.p-2-5 {
  padding: 0.75rem !important;
}

@media screen and (min-width: 576px) {
  .rigth-actions-button {
    position: fixed !important;
    right: 36px;
    bottom: 36px;
  }
}

@media screen and (min-width: 1921px) {
  .xxl\:col {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0.5rem;
  }
  .xxl\:col-fixed {
    flex: 0 0 auto;
    padding: 0.5rem;
  }
  .xxl\:col-1 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 8.3333%;
  }
  .xxl\:col-1-5 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 12.5%;
  }
  .xxl\:col-2 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 16.6667%;
  }
  .xxl\:col-3 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 25%;
  }
  .xxl\:col-4 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 33.3333%;
  }
  .xxl\:col-5 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 41.6667%;
  }
  .xxl\:col-6 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 50%;
  }
  .xxl\:col-7 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 58.3333%;
  }
  .xxl\:col-8 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 66.6667%;
  }
  .xxl\:col-9 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 75%;
  }
  .xxl\:col-10 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 83.3333%;
  }
  .xxl\:col-11 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 91.6667%;
  }
  .xxl\:col-12 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 100%;
  }
}