.campaign-list-container {
    .campaign-card {
        cursor: pointer;

        .title-card {
            background-color: #646363;
            color: #e1dede;
            font-weight: 700;
        }
    }
}